@font-face
	font-family 'tab-router-iconfont'
	src url('../fonts/iconfont.eot') /* IE9 */
	src url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg')
i.tab-router-iconfont
	font-style normal
	font-family 'tab-router-iconfont' !important
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	&.close:after
		content '\e60f'
	&.reload:after
		content '\ec08'
