@import './color.styl'

inline-code()
	display inline
	margin 0 0.2rem
	padding 0 0.2rem
	border-radius 4px
	background-color rgba($color-theme, 0.1)
	color: $color-theme - #111111
code
	font-family 'Consolas', 'Courier New', 'monospace', 'Microsoft Yahei'
h1,
h2,
h3,
h4,
h5,
h6
	color $color-theme
h1
	margin 3rem auto
	color: $color-theme - #111111
	&,
	+h1
		margin-top 5rem
h2
	position relative
	margin 3rem auto
	pointer-events none
h3
	margin 2rem 0
pre
	margin 1rem auto
	padding 1rem
	border-radius 2px
	background-color #282c34
	font-size 0.7rem
p,
table
	color color-text
	code
		inline-code()
	tr
		&:hover
			background-color #FAFAFA
	td
		&:first-child
			color $color-theme
			font-weight 600
code
	baseScroll('dark')
.box
	margin 1.5rem 0
	padding 1rem
	border-left 6px solid color-info
	border-radius 4px
	background-color rgba(color-info, 0.1)
	color color-text
	&.danger
		border-color color-error
		background-color rgba(color-error, 0.1)
	&.success
		border-color color-success
		background-color rgba(color-success, 0.1)
	&.warning
		border-color color-warn
		background-color rgba(color-warn, 0.1)
	code
		inline-code()
