@font-face
	font-family 'iconfont'
	src url('../fonts/iconfont.eot') /* IE9 */
	src url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg')
i.iconfont
	font-style normal
	font-family 'iconfont' !important
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	&.github:after
		content '\e603'
